<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryansteckler.nlpunbounce"
    android:installLocation="internalOnly" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/UnbounceThemeLight" >

        <activity
            android:name=".SettingsActivity"
            android:label="Amplify settings" >
        </activity>

        <receiver
            android:name=".ActivityReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.ryansteckler.nlpunbounce.STATS_REFRESHED_ACTION" />
                <action android:name="com.ryansteckler.nlpunbounce.CREATE_FILES_ACTION" />
                <action android:name="com.ryansteckler.nlpunbounce.RESET_FILES_ACTION" />
                <action android:name="com.ryansteckler.nlpunbounce.PUSH_NETWORK_STATS" />

            </intent-filter>
        </receiver>

        <activity
            android:name=".MaterialSettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_material_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".SettingsAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".MaterialSettingsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".tasker.TaskerActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >

            <!-- this Intent filter allows the plug-in to be discovered -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".tasker.TaskerReceiver"
            android:enabled="true"
            android:exported="true">
            <!--android:process=":background"-->

            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".SELinuxService"
            android:enabled="true" android:exported="false"
            android:stopWithTask="false" android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="foo"/>
        </service>
        <meta-data
            android:name="xposedmodule"
            android:value="true" /> <!-- xposed meta data -->
        <meta-data
            android:name="xposedsharedprefs"
            android:value="true" /> <!-- xposed meta data -->
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_moto" /> <!-- xposed meta data -->
        <meta-data
            android:name="xposedminversion"
            android:value="82" /> <!-- xposed meta data -->
    </application>

</manifest>
